<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>薪酬管理系统</title>
    <link rel="stylesheet" href="/static/layui/css/layui.css">
    <script src="/static/layui/layui.js"></script>
    <script src="/static/layui/navbar.js"></script>
    <script src="/static/layui/tablerender.js"></script>
    <script src="/static/layui/uploadfile.js"></script>
    <script src="/static/rest_framework/js/jquery-1.12.4.min.js"></script>
</head>
<body class="layui-layout-body">
{% csrf_token %}
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">员工薪酬管理</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="javascript:;">控制台</a></li>
            <li class="layui-nav-item"><a href="javascript:;">报表管理</a></li>
            <li class="layui-nav-item"><a href="javascript:;">我的评分</a></li>
            <li class="layui-nav-item" id ="qtxt">
                <a href="javascript:;">其它系统</a>
                <dl class="layui-nav-child" id="gl">

                </dl>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item" >
                <a href="javascript:;" id = "ausername">
                </a>
                <script type="text/javascript">
                    var qtxt =
                    '<dd><a href="/xadmin">超级管理员系统</a></dd>'+
                    '<dd><a href="/docs">接口文档</a></dd>'+
                    '<dd><a href="/back" id="sqgl">授权管理</a></dd>'

                    $().ready(function(){
                        ausername = localStorage.getItem("name");
                        //console.log(ausername)
                        $("#ausername").text(ausername);
                        is_staff = localStorage.getItem("is_staff");
                        //console.log(is_staff,typeof (is_staff))
                        if(is_staff=="true"){
                            $("#gl").html(qtxt);
                        }else{
                            $("#qtxt").remove();
                        }
                    });
                </script>
                <dl class="layui-nav-child">
                    <dd><a href="javascript:void(0);" onclick="userdetail();return false;">基本信息</a></dd>
                    <dd><a href="">安全设置</a></dd>
                </dl>
                <script type="text/javascript">
                function userdetail(){
                    id = localStorage.getItem("userid");
                    setTimeout(function() {
                        location.replace("/users/"+id);
                    }, 200);
                }

            </script>
            </li>
            <li class="layui-nav-item">
                <a href =  "javascript:void(0);" onclick="logout();return false;">退出系统</a>
            </li>
            <script type="text/javascript">
                function logout(){
                    console.log("onclick logout")
                    localStorage.removeItem("token");
				//console.log(data)
                    localStorage.removeItem("user");
                    localStorage.removeItem("name");
                    localStorage.removeItem("userid");
                    localStorage.removeItem("is_staff");
                    {#localStorage.removeItem("idcardnumber");#}
                    setTimeout(function() {
                        location.replace("/laylogin/");
                    }, 2000);
                }
            </script>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree"  lay-filter="leftbar">
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">员工系数公示</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">全行员工系数明细</a></dd>

                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">绩效考核管理</a>
                    <dl class="layui-nav-child" id ="jxkhmulu">

                    </dl>
                </li>
{#                <li class="layui-nav-item"><a href="javascript:;">部门信息管理</a></li>#}
{#                <li class="layui-nav-item"><a href="javascript:;">员工所在部门</a></li>#}
{#                <li class="layui-nav-item"><a href="javascript:;">证书信息管理</a></li>#}
{#                <li class="layui-nav-item"><a href="javascript:;">员工证书明细</a></li>#}
{#                <li class="layui-nav-item"><a href="javascript:;">等级行员管理</a></li>#}
{#                <li class="layui-nav-item"><a href="javascript:;">等级行员明细</a></li>#}
            </ul>

            <script type="text/javascript">
                    var htmlgl =
                        '<dd><a href="javascript:;">发起绩效考核</a></dd>'+
                        '<dd><a href="javascript:;">录入考勤信息</a></dd>'+
                        '<dd><a href="javascript:;">录入补发薪酬</a></dd>'+
                        '<dd><a href="javascript:;">五险一金导入</a></dd>'+
                        '<dd><a href="javascript:;">税费其他录入</a></dd>'
                    var htmlnotstaff=
                         '<dd><a href="javascript:;">我的工资记录</a></dd>'+
                         '<dd><a href="javascript:;">本月工资进度</a></dd>'

                    $().ready(function(){
                        //ausername = localStorage.getItem("name");
                        //console.log(ausername)
                        //$("#ausername").text(ausername);
                        is_staff = localStorage.getItem("is_staff");
                        //console.log(is_staff,typeof (is_staff))
                        if(is_staff=="true"){
                            $("#jxkhmulu").html(htmlgl);
                        }else{
                            $("#jxkhmulu").html(htmlnotstaff);
                        }
                    });
                </script>

            <div id = "funcnavbar"></div>
                <div id="view"></div>
        </div>

    </div>


    <div id="allbody" class="layui-body">
        <!-- 内容主体区域 -->
    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        数据管理测试页面20180112

    </div>
</div>
</body>
</html>